<div class="container">	
	<div class="row">
		<div class="col-md-3">
			<div class="media" id="david">
				<a class="pull-left" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('david.png')%>" alt="David Li">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Best Man</h4>
					<p><b>David Li</b></p>
				</div>
			</div>
			<div class="media" id="michael">
				<a class="pull-left" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('michael4.png')%>" alt="Michael Lin">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Groomsman</h4>
					<p><b>Michael Lin</b></p>
				</div>
			</div>
			<div class="media" id="willson">
				<a class="pull-left" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('willson3.png')%>" alt="Willson Mock">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Groomsman</h4>
					<p><b>Willson Mock</b></p>
				</div>
			</div>
			<div class="media" id="edwin">
				<a class="pull-left" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('ed5.png')%>" alt="Edwin Sam">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Groomsman</h4>
					<p><b>Edwin Sam</b></p>
				</div>
			</div>
		</div>
		<div class="col-md-6">							
			<div id='text'>
				<div class="well" style="text-align:center;">
				Click on a picture to learn about our wedding party!
				</div>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="media" id="jenn">
				<a class="pull-right" href="#" >
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('jenn.jpg')%>" alt="Jennifer Lien">
				</a>
				<div class="media-body pull-right">
					<h4 class="media-heading">Bridesmaid</h4>
					<p class="pull-right"><b>Jennifer Lien</b></p>
				</div>				
			</div>

			<div class="media" id="debby">
				<a class="pull-right" href="#" >
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('debby.png')%>" alt="Audrey Chang">
				</a>
				<div class="media-body pull-right">
					<h4 class="media-heading">Bridesmaid</h4>
					<p class="pull-right"><b>Debby Fu</b></p>
				</div>				
			</div>
			<div class="media" id="emily">
				<a class="pull-right" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('emily.png')%>" alt="Debby Fu">
				</a>
				<div class="media-body pull-right">
					<h4 class="media-heading">Bridesmaid</h4>
					<p class="pull-right"><b>Emily Chen</b></p>
				</div>				
			</div>
			<div class="media" id="audrey">
				<a class="pull-right" href="#">
					<img class="media-object img-circle bridal-party-image" src="<%= image_url('audrey.png')%>" alt="Audrey Chang">
				</a>
				<div class="media-body pull-right">
					<h4 class="media-heading">Bridesmaid</h4>
					<p class="pull-right"><b>Audrey Chang</b></p>
				</div>				
			</div>
			
		</div>
	</div>
</div>	

<script type="text/javascript">

	var ps = new profileSelector('text');
	ps.addProfile('david','<p>I’ve known Dennis for as long as I can remember. Although we were brought together by happenstance, we’ve forged a strong friendship over time based upon our shared passions and interests. In middle school we bonded by exploring Hyrule together, and in high school we became one of the top sibling-doubles tennis teams at Enloe.</p><p> Throughout this time, I’ve witnessed how competitive Dennis can be, and seen the high standards that he sets for himself and others. It’s no surprise that the person with whom he’s chosen to spend the rest of his life is as wonderful an individual as Katie. Congratulations Dennis and Katie!</p>');
	
	ps.addProfile('michael','<p>I’ve known Dennis since about 8th grade or so.  We’ve been pretty good friends all along, save for the outrage of summer 2011.  The two of us embarked on a week-long road trip from Seattle to San Francisco, in which Dennis <b>spent all his time on his Apple iPhone 4</b> instead of bonding with his friend of fifteen years or so (<a target="_blank" href="<%= image_url('exhibita.jpg')%>">exhibit a</a>, <a target="_blank" href="<%= image_url('exhibitb.jpg')%>">exhibit b</a>).  <p>Turns out he was on his phone texting a girl.  That girl was Katie, and as we all know she became the love of his life.  For that and one other very important reason (they invite me over for food all the time), his transgressions are forgiven.</p>');
	ps.addProfile('willson','<p>Dennis and I started our bromance the summer between our sophomore and junior years at Cornell. That summer, when we weren&apos;t in class or doing homework together, we were playing basketball with the Ithaca townies at the basketball courts near Wegmans.  Over the next year our friendship would continue to grow, and by the next summer we were sleeping next to each other (on separate air mattresses!) in NYC during our co-op internships!</p><p> On top of seeing each other constantly in all our classes, we also shared two of our favorite past times together - Starcraft at Rhodes Hall and Basketball at West Campus. Whether it was blasting away enemy zealots or crushing the bball competition at West Campus, we were inseparable :)</p><p>Fast forward to post-college life: while physical distance has separated us from hanging out all the time, we&apos;ve still managed to stay close digitally, and have even gone on a couple of vacations together. When I decided to move from NYC to SF, guess who convinced Katie to let me crash at their place? Dennis :)</p><p>More than being thankful that our lives have intertwined, I&apos;m ecstatic to know that Dennis has found his missing part - congratulations Dennis and Katie!</p>');
	ps.addProfile('edwin','<p>Dennis and I have known each other since our junior year of college through a mutual friend (Willson, give yourself a pat on the back). But we didn&apos;t really start to become friends until our graduate year where we shared a few classes together. And because Dennis was one of a few people I knew who had a car, he was my ride whenever we wanted to go off campus to watch a movie or go grab fast food. Needless to say, we ate a lot of Taco Bell and Wendy&apos;s that year (Sorry Katie, those were Dennis&apos; choices...). </p><p>After college, we always kept in touch, even when he decided to move to the west coast. We would stay up late playing computer games, go on trips and vacations together (Dennis and Katie even visited me in Bermuda!), or just nerd out and talk about school and work. I love traveling to San Francisco not because of the warm sunny weather or In n Out but because I get to visit and hang out with Dennis (and having a place to stay for free isn&apos;t too bad either).  </p><p>I&apos;m honored and feel blessed to be a part of Dennis and Katie&apos;s special day!</p>');
	ps.addProfile('jenn', 'I first met Katie (&amp; <a href="https://www.facebook.com/wang.basil" target="_blank">Basil</a>) in 2010 over free food at Google. Since that fateful day, we two only-children have grown very close to become like the sisters they never had. Through the years we have traveled together to San Diego, LA, Vegas, Australia and Turkey, cried over mean boys, hosted game nights, held garage sales, and eaten lots of great food. And through the years, I have learned to never give Katie more than half a glass of wine (see exhibit 1...j/k!). Although I recently moved to Asia, I am excited and honored to celebrate with Katie on her very special day.');
	ps.addProfile('debby','<p>Katie and I met in 7th grade when she was still living in Taiwan. We didn&apos;t get along right away, but Katie was determined to win me over, and given her sweet personality, it&apos;s no surprise that by the end of the semester she had succeeded. We have been best friends ever since!</p><p>Sadly (for me), Katie moved to the U.S. for high school, but every summer when she would come back to Taiwan we would basically be inseparable.  Even spending the day together wouldn&apos;t be enough, so we would keep chatting on the phone as we lay in bed until we fell asleep... I&apos;m proud to say that we can still recall each other&apos;s home and cell phone numbers by heart (can&apos;t say that Katie knows Dennis&apos; number that well :D).</p><p>Despite the time difference now, Katie and I still chat on the phone at odd hours of the day, and I&apos;m always happy to clear my calendar whenever Katie is able to stop by Taiwan (thank you Apple, for at least sending her most of the way here so often).  Neither time nor distance had kept us apart all these years, and I&apos;m so excited to be there to celebrate her special day with her!</p>');
	ps.addProfile('emily','<p>I knew who Katie was - the cute Taiwanese girl with awesome legs -long before I ever had the chance to become her friend. Despite overlapping at Cornell for 3 years, I didn&apos;t have the privilege of getting to know Katie until we both moved to California in 2005. Thank goodness for second chances! She&apos;s been a loyal confidante that has helped me through problems too numerous (and personal!) to name, a patient shopping partner that helped me find my wedding dress, a former gym buddy that I sporadically went to yoga class with, a clever, thoughtful White Elephant gifter, and so much more. She has one of the biggest hearts of anyone I know. </p><p>Throughout our last decade of friendship, I&apos;ve grown protective and wary of her many admirers. I never thought anyone was good enough for her until Dennis came along and proved himself with his impeccable taste in pop music, fried chicken, and Taiwanese basketball players. I&apos;m thrilled that they have found their happily ever after with each other and I can&apos;t wait to continue my friendship with both of them for many more decades to come.</p>');
	ps.addProfile('audrey','<p>When I first met Katie, it felt like I had known her all my life (don&apos;t worry, Dennis, I won&apos;t steal her away from you, she&apos;s all yours :)).  We instantly clicked over our shared interests in eating delicious food, finding random musings on the internet, and chit chatting about anything and everything imaginable.  Before long, I luckily convinced Katie to come work at Apple with me, and it was during this formidable time that we bonded even more over our noodle/pasta/dessert adventures, last-minute trips to obscure places in a very largely populated country in Asia (ahem, not Russia), and gruesome late night excel sessions with more formula-induced colors than even the biggest nerd could imagine.  </p><p>Through the years, more people have asked me in confidence than I could count, &apos;Why is Katie not taken?&apos;.  I&apos;ve always given them a lame answer or asked them politely to bugger off and leave my dear Katie alone.  It wasn&apos;t until I met Dennis that I realized she was holding out for him. :)  In meeting Dennis, I instantly saw how his thoughtful and caring nature, strong family values, and dedication to every task aligned with Katie so well.  </p><p>I cannot be happier for the both of them and am so excited to share in the start of their lives as husband and wife.  Congratulations!  The best is yet to come! :)</p>');

	//ps.changeTextAndPicture(Math.floor(Math.random()*8));
	
</script>		

